---
layout: page.pug
title: Projects
permalink: "| projects/"
order: 2
eleventyImport:
    collections: ["Project", "Active", "Archive", "Neonpastel", "External"]
---

mixin project(project)
    li
        h3
            a(href=project.url)=project.data.title
        p=project.data.description

main#main
    h1 My projects!

    ul
        each project in collections.Active
            +project(project)

    hr

    ul
        - const otherProjects = collections.Project.filter((project) => project.data.tags.indexOf("Archive") < 0 && project.data.tags.indexOf("Active") < 0 && project.data.tags.indexOf("Neonpastel") < 0 && project.data.tags.indexOf("External") < 0);
        each project in otherProjects
            if !project.data.tags.archive && !project.data.tags.active && !project.data.tags.neonpastel
                +project(project)
        
    hr

    h2 Neonpastel

    ul
        each project in collections.Neonpastel 
            +project(project)

    hr

    h2 External/professional
    ul
        each project in collections.External
            +project(project)

    hr

    h2 Archived
    ul
        each project in collections.Archive
            +project(project)
