@import "../style/variables";

.revealmore {
    padding: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    li {
        padding: 20px;
        margin: 15px;

        height: 100px;
        min-width: 200px;
        max-width: 400px;

        @media print {
            margin: 5px;
            height: initial;
            width: 30%;
        }

        cursor: pointer;

        transition: width 1s, height 1s;

        background-color: $l3;
        border: $lightborder;
        border-radius: 10px;

        overflow: hidden;
        text-align: center;
        
        img {
            width: 50px;
            height: auto;
            margin: auto;
        }
        
        h3 {
            margin-top: 0;
        }
    }

    .show {
        height: initial;
    }
}
