.skillbars {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
    @media (orientation: portrait) {
        grid-template-columns: 1fr;
    }

    gap: 10px;

    > div {
        img, .progress {
            height: 25px;
        }

        .progress {
            width: 100%;
        }

        img {
            width: auto;
            margin-right: 5px;
        }
    }
}

.progress {
    border: $lightborder;
    box-sizing: border-box;
    background-color: #f2f2f2;
}