@import "../style/variables";

.tiles {
    ul {
        padding: 0;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        list-style: none;

        li {
            width: 10rem;
            height: 10rem;
            padding: 25px;

            border-radius: 10px;


            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }


        > :nth-child(1) {
            color: white;
            background-color: $d2;
        }

        > :nth-child(2) {
            background-color: $l1;
        }

        > :nth-child(3) {
            background-color: $l3;
        }

        > :nth-child(4) {
            background-color: $l4;
        }

        > :nth-child(5) {
            background-color: $l1;
        }

        
    }

}