// Based of https://stackoverflow.com/a/32721572
mixin revealmore(logo, title, large=false)
    li
        img(src=`/assets/resume/icons/${logo}.svg` alt=`Logo for ${logo}`)
        h3= title 
        if block 
            block
