---
layout: base/base.pug
tags: page
title: Manifesto!
stylesheet: pages/manifesto.css
order: 1
eleventyImport:
    collections: ["project"]
---

main#main
    h1 Denperidge's manifesto zone
    h2.sr-only Introduction
    p (Okay maybe manifesto is a strong word.)
    p.
        As most people that do programming over time will tell you, 
        there are a bunch of small things that oftenly get overlooked.
        
    h2 MANIFESTO PAGES
    ol
        each page in collections.manifesto
            a(href=page.url)
                li=page.data.title

    
