mixin list(details)
    ul
        for detail in details
            li= detail 

mixin past
    each past_employment in past_employments
        article 
            details
                summary= past_employment.title
                h3 My responsibilities
                +list(past_employment["my_responsibilities"])

                h3 Lessons learned
                +list(past_employment["lessons_learned"])
