nav
    ul
        - collections.page.sort((pageA, pageB) => pageA.data.order - pageB.data.order);  // From https://stackoverflow.com/a/979289a
        each page in collections.page
            a(href=page.url)
                li=page.data.title

