@import "variables";

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.skip-link {
    float: left;
    position: absolute;
    left: -10000px;
    top: auto;
    overflow: hidden;
    background-color: $d1;
    padding: 5px;

    &:link {
        color: $l1;
    }
    &:visited {
        color: $l1;
    }
    &:hover {
        color: $l2;
    }
    &:active {
        color: $l2;
    }

    &:focus {
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
    }
}
