@import "variables";

nav {
    background-color: $d2;
    color: $l1;

    box-sizing: border-box;
    outline: 1px groove $l1;
    outline-offset: -5px;

    ul {
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            min-width: 150px;
        }
        a {
            padding: 10px;
            margin: 10px;

            &:link {
                color: $l1;
                text-decoration-color: $l1;
            }

            &:visited {
                color: $l3;
                text-decoration-color: $l3;
            }
            &:hover {
                color: $l2;
                text-decoration-color: $l2;
            }
            &:active {
                color: $d1;
                text-decoration-color: $d1;
            }
        }
    }
}
