@import "variables";

header {
    background-color: $d2;
    color: $l1;

    box-sizing: border-box;
    outline: 1px groove $l1;
    outline-offset: -5px;

    #buttons {
        position: absolute;
        top: 5px;
        right: 5px;
        height: calc(100% - 10px);

        width: 200px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            height: 100%;

            background: none;
            border: none;

            cursor: pointer;

            &:hover {
                filter: saturate(200%)
            }

            flex: 1;
            img {
                width: 50px;
                height: 50px;
            }
        }
    }

}

nav {
    width: 80%;


    ul {
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            min-width: 150px;
        }
        a {
            padding: 10px;
            margin: 10px;

            &:link {
                color: $l1;
                text-decoration-color: $l1;
            }

            &:visited {
                color: $l3;
                text-decoration-color: $l3;
            }
            &:hover {
                color: $l2;
                text-decoration-color: $l2;
            }
            &:active {
                color: $d1;
                text-decoration-color: $d1;
            }
        }
    }
}
