@font-face {
    font-family: "OpenDyslexic";
    src: url("/assets/fonts/OpenDyslexic2/OpenDyslexic-Regular.otf") format("opentype");
}

@font-face {
    font-family: "OpenDyslexic";
    font-style: oblique;
    src: url("/assets/fonts/OpenDyslexic2/OpenDyslexic-Bold.otf") format("opentype");
}

@font-face {
    font-family: "OpenDyslexic";
    font-style: italic;
    src: url("/assets/fonts/OpenDyslexic2/OpenDyslexic-Italic.otf") format("opentype");
}
