@import "variables";

#container {
    display: flex;
    flex-wrap: wrap;
    main {
        margin-right: 50px;
        flex: 1;
    }
    aside {
        max-width: 300px;
        img {
            margin: auto;
            max-width: 100%;
        }
        li {
            word-break: break-all;
        }
    }
    
}


#explanation {
    img {
        max-width: 250px;
    }
    button {
        float: right;
    }
}

#denperidge {
    position: relative;
    h1 {
        cursor: pointer;
    }

    span:hover {
        text-decoration: underline;
    }

    section {
        padding: 20px;
        background-color: $l4;
        border: 1px groove $d2;
    }
}

