@import "../_includes/elements/elements";

#about {
    text-align: center;
}

@media print {
    header {
        display: none;
    }
}

section {
    margin: 60px auto;
    &:first-child {
        margin-top: 0px;
    }
}
