---
layout: base/base.pug
title: Manifesto!
permalink: "| MANIFESTO/"
order: 1
stylesheet: pages/manifesto
tags: page
---

main#main
    h1 Denperidge's manifesto zone
    h2.sr-only Introduction
    p.
        As most people that do programming over time will tell you, 
        there are a bunch of small things that oftenly get overlooked.
    
    p But then again, sometimes its also big things.
    
    p Whatever the case, I'll talk about it here.
        
    h2 Manifesto pages
    ol
        each page in collections.manifesto
            a(href=page.url)
                li=page.data.title

    
