---
layout: page.pug
title: "Home"
---

main#main
    h1 Denperidge.com 
    h2.sr-only Introduction
    p Hi! I'm Denperidge
    p Equally a professional programmer as a hobbyist programmer as an idiot    

    h2 Links
    p You can find me on...
    ul
        each href, title in links
            li #{title}:&nbsp;
                a(href=href)=href

