@import "style/variables";
@import "style/accessibility";
@import "style/nav";
@import "style/Catamaran";
@import "style/OpenDyslexic";




* {
    outline-offset: 2.5px;
    outline-color: $d1;
}

html {
    height: 100%;

    //background-image: url("/assets/evening-sky.png");
    background-size: 100%;
    color: $d1;
}

body {
    min-height: 100%;
    margin: 0;

    padding: 20px;
    
    background-color: $l4;

    background-image: url("/assets/svgs/background_tile.svg");
    background-size: cover;
    



    //padding: 0;

    font-family: "OpenDyslexic", cursive, sans-serif;
    //font-family: "Catamaran", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;

}

body > main, body > section, body > aside {
    background-color: rgba($l4, 0.7);
}


a {
    text-underline-offset: 3.5px;
    &:link {
        text-decoration-color: $d1;
    }
    &:visited {
        text-decoration-color: $d2;
    }
    &:hover {
        color: $l2;
        text-decoration-color: $l2;
    }
    &:active {
        color: $d2;
        text-decoration-color: $d2;
    }
}
