---
layout: page.pug
title: Tags 
permalink: "| tags/"
order: 3
description: "An overview of all the available tags on my website"
---

main#main
    h1 Tags     
    - const tags = Object.keys(collections);
    each tag in tags
        h2(id=tag)=tag
        ul
            each post in collections[tag]
                li
                    a(href=post.url)=post.data.title