---
layout: page.pug
title: Projects
order: 2
eleventyImport:
    collections: ["project", "active", "archive", "neonpastel"]
---

mixin project(project)
    li
        h3
            a(href=project.url)=project.data.title
        p=project.data.description

main#main
    h1 My projects!

    ul
        each project in collections.active
            +project(project)

    hr

    ul
        - const otherProjects = collections.project.filter((project) => project.data.tags.indexOf("archive") < 0 && project.data.tags.indexOf("active") < 0 && project.data.tags.indexOf("neonpastel") < 0);
        each project in otherProjects
            - console.log(project.data.tags)
            if !project.data.tags.archive && !project.data.tags.active && !project.data.tags.neonpastel
                +project(project)
        
    hr

    h2 Neonpastel

    ul
        each project in collections.neonpastel 
            +project(project)

    hr

    h2 Archived
    ul
        each project in collections.archive
            +project(project)
