---
layout: page.pug
title: Projects
eleventyImport:
    collections: ["project"]
---

main#main
    h1 My projects!
    each project in collections.project
        section
            h2
                a(href=project.url)=project.data.title
            p=project.data.description
